<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <div class="flex mb-4">
        <h2 class="text-xl font-bold text-gray-900 dark:text-white">
          {{ titleForm }} User
        </h2>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 sm:gap-6">
          <!-- Name Input -->
          <div class="sm:col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('name')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("name") }}
            </div>
          </div>
  
          <!-- Surname Input -->
          <div class="sm:col-span-2">
            <label
              for="surname"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Surname</label>
            <input
              type="text"
              id="surname"
              formControlName="surname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('surname')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("surname") }}
            </div>
          </div>
  
          <!-- Email Input -->
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('email')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("email") }}
            </div>
          </div>
  
          <!-- Password Input -->
          <div class="sm:col-span-2">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('password')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("password") }}
            </div>
          </div>
  
          <!-- Phone Input -->
          <div class="sm:col-span-2">
            <label
              for="phone"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Phone</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('phone')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("phone") }}
            </div>
          </div>
  
          <!-- Address Input -->
          <div class="sm:col-span-2">
            <label
              for="address"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Address</label>
            <input
              type="text"
              id="address"
              formControlName="address"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            />
            <div *ngIf="errorHandling('address')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("address") }}
            </div>
          </div>
  
          <!-- Role Input -->
          <div class="sm:col-span-2">
            <label
              for="role"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Role</label>
            <select
              id="role"
              formControlName="role"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
              required
            >
              <option value="" disabled>Select role</option>
              <option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}
              </option>
            </select>
            <div *ngIf="errorHandling('role')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("role") }}
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <button
            type="button"
            (click)="navigateTo('/users/table')"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-gray-500 bg-gray-100 rounded-lg focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-900 hover:bg-gray-200"
          >
            Back
          </button>
          <button
            type="submit"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-teal-700 rounded-lg focus:ring-4 focus:ring-teal-200 dark:focus:ring-teal-900 hover:bg-teal-800"
          >
            {{ isCreate ? "Add User" : "Update User" }}
          </button>
          <button
            type="button"
            (click)="onReset()"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-red-500 bg-red-100 rounded-lg focus:ring-4 focus:ring-red-200 dark:focus:ring-teal-900 hover:bg-red-200"
          >
            Reset
          </button>
        </div>
      </form>
  
      <!-- Modal -->
      <div
        id="popup-modal"
        tabindex="-1"
        class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-black bg-opacity-50"
        [class.hidden]="!showModal"
        role="dialog"
        aria-modal="true"
      >
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button
              type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              (click)="showModal = false"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
              <svg
                aria-hidden="true"
                class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l2 2m0-8a9 9 0 1 0 9 9 9 9 0 0 0-9-9z"
                ></path>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                {{errorMessage}}
              </h3>
              <button
                data-modal-toggle="popup-modal"
                type="button"
                class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
              >
                Back
              </button>
              <button
                data-modal-toggle="popup-modal"
                type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-600"
                (click)="showModal = false"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  