<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="md:flex md:justify-between items-center">
      <div>
        <a href="/home" class="flex items-center">
          <img
            src="https://i.imgur.com/L8hYNOW.png"
            class="h-32"
            alt="Sage barbershop Logo"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Products
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/products/list" class="hover:underline"
                >All Products</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Services
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="/services/list"
                class="hover:underline"
                >All Services</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Stores
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/stores/list" class="hover:underline">All Stores</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2024
        <a href="/home" class="hover:underline">Sage Barbershop™</a>.
        All Rights Reserved.
      </span>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >Developed by
        <a href="https://github.com/SamusCreations" class="hover:underline" target="_blank">SamusCreations</a>
        &
        <a href="https://github.com/GeraldEDU19" class="hover:underline" target="_blank">GeraldEDU19</a>
      </span>
    </div>
  </div>
</footer>
