<!-- <div class="service-detail" *ngIf="!charging">
  <h2>Service Detail</h2>

  <div class="summary">
    <p><strong>Name:</strong> {{ service.name }}</p>
    <p><strong>Description:</strong> {{ service.description }}</p>
    <p><strong>Price:</strong> {{ service.price | currency }}</p>
    <p><strong>Duration:</strong> {{ service.duration }} minutes</p>
  </div>
</div>

<div class="spinner-container" *ngIf="charging">
  <div class="spinner"></div>
</div>
 -->

@if (!charging && service) {
<div class="bg-white">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol
        role="list"
        class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8"
      >
        <li>
          <div class="flex items-center">
            <a
              href="/services/list"
              class="mr-2 text-sm font-medium text-gray-900"
              >Services</a
            >
            <svg
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-4 text-gray-300"
            >
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a
            href="services/detail/{{ service.id }}"
            aria-current="page"
            class="font-medium text-gray-500 hover:text-gray-600"
            >{{ service.name }}</a
          >
        </li>
      </ol>
    </nav>

    <!-- Image gallery -->
    <div class="mx-auto mt-6 max-w-2xl px-6">
      <div class="aspect-h-3 aspect-w-3 overflow-hidden rounded-lg">
        <img
          [src]="service.image"
          [alt]="service.name"
          class="h-full w-full object-cover object-center"
        />
      </div>
    </div>

    <!-- service info -->
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16"
    >
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1
          class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl capitalize"
        >
          {{ service.name }}
        </h1>
      </div>

      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <h2 class="sr-only">service information</h2>
        <h3 class="text-sm font-medium text-gray-900">Price</h3>
        <p class="text-3xl tracking-tight text-gray-900 font-bold">
          {{ service.price | currency }}
        </p>

        <form class="mt-10">
          <button
            type="submit"
            class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 uppercase"
          >
            Buy now
          </button>
        </form>
      </div>

      <div
        class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6"
      >
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Description</h3>
          <div class="space-y-6">
            <p class="text-base text-gray-900">
              {{ service.description }}
            </p>
          </div>
        </div>

        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">
            Employee in-charge:
            <span class="text-sm text-gray-600 font-normal">{{
              service.employee.name + " " + service.employee.surname
            }}</span>
          </h3>
        </div>

        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">
            Estimated time:
            <span class="text-sm text-gray-600 font-normal"
              >{{ service.duration }} minutes</span
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
} @else{
<div class="spinner-container">
  <div class="spinner"></div>
</div>
}
