<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <div class="flex mb-4">
      <h2 class="text-xl font-bold text-gray-900 dark:text-white">{{ titleForm }} Reservation</h2>
      <span class="inline-flex items-center rounded-md px-2 py-1 ml-2 text-xs font-medium text-white ring-1 ring-inset ring-gray-500/10 h-7" [ngStyle]="{ 'background-color': status?.color }">{{ status?.description }}</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="branchId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Branch</label>
          <input type="text" id="branchId" [value]="currentUser?.Branch?.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" readonly />
        </div>
        <div>
          <label for="userId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
          <select id="userId" formControlName="userId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" required (change)="onUserChange()">
            <option value="" disabled>Select user</option>
            <option *ngFor="let user of userList" [value]="user.id">{{ user.name }} {{ user.surname }}</option>
          </select>
          <div *ngIf="errorHandling('userId')" class="text-red-500 text-xs mt-2">{{ errorHandling('userId') }}</div>
        </div>
        <div>
          <label for="serviceId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service</label>
          <select id="serviceId" formControlName="serviceId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" required (change)="onServiceChange()">
            <option value="" disabled>Select service</option>
            <option *ngFor="let service of serviceList" [value]="service.id">{{ service.name }}</option>
          </select>
          <div *ngIf="errorHandling('serviceId')" class="text-red-500 text-xs mt-2">{{ errorHandling('serviceId') }}</div>
          <div class="mt-2 flex justify-between items-center bg-gray-100 rounded-full p-2">
            <label class="block text-xs font-medium text-gray-900 dark:text-white">Service Duration</label>
            <p *ngIf="service" class="text-gray-700 dark:text-gray-300 text-xs">{{ service.duration }} minutes</p>
          </div>
        </div>
        <div>
          <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date</label>
          <input id="date" formControlName="date" name="date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" (change)="onDateChange($event)" />
          <div *ngIf="errorHandling('date')" class="text-red-500 text-xs mt-2">{{ errorHandling('date') }}</div>
        </div>
        <div>
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Time</label>
          <select id="time" formControlName="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500" [disabled]="!availableTimes.length" required>
            <option value="" disabled>Select time</option>
            <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
          </select>
          <div *ngIf="errorHandling('time')" class="text-red-500 text-xs mt-2">{{ errorHandling('time') }}</div>
        </div>
      </div>
      <div class="flex justify-between">
        <button type="button" (click)="navigateTo('/reservations/table')" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-gray-500 bg-gray-100 rounded-lg focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-900 hover:bg-gray-200">Back</button>
        <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-teal-700 rounded-lg focus:ring-4 focus:ring-teal-200 dark:focus:ring-teal-900 hover:bg-teal-800">{{ isCreate ? "Add Reservation" : "Update Reservation" }}</button>
        <button type="button" (click)="onReset()" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-red-500 bg-red-100 rounded-lg focus:ring-4 focus:ring-red-200 dark:focus:ring-teal-900 hover:bg-red-200">Reset</button>
      </div>
    </form>
  </div>
</section>
