<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="my-6">
    <input type="hidden" formControlName="id" />
    <div class="max-w-xl mx-auto bg-white p-8 rounded-md shadow-md">
      <div class="mb-4">
        <h2 class="text-2xl font-bold mb-2">{{ titleForm }} Branch</h2>
      </div>
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          maxlength="20"
          placeholder="Name"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('name')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("name") }}
        </div>
      </div>
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          placeholder="Description"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('description')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("description") }}
        </div>
      </div>
      <div class="mb-4">
        <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="Phone"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('phone')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("phone") }}
        </div>
      </div>
      <div class="mb-4">
        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          placeholder="Address"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('address')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("address") }}
        </div>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('email')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("email") }}
        </div>
      </div>
      <div class="mb-4">
        <label for="users" class="block text-sm font-medium text-gray-700">Assigned to</label>
        <select
          id="users"
          formControlName="users"
          multiple
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        >
          <option
            class="text-gray-700"
            *ngFor="let user of userList"
            [value]="user.id"
          >
            {{ user.name }} {{ user.surname }}
          </option>
        </select>
        <div *ngIf="errorHandling('users')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("users") }}
        </div>
      </div>
      <div class="flex space-x-4">
        <button
          type="button"
          (click)="onReset()"
          class="bg-red-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-red-600"
        >
          Reset
        </button>
        <button
          type="button"
          (click)="onBack()"
          class="bg-gray-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-gray-600"
        >
          Back
        </button>
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600"
        >
          Save
        </button>
      </div>
    </div>
  </form>
  