<div class="reservation-detail" *ngIf="!charging && reservation">
    <div class="detail-header">
      <h2>{{ reservation.service.name }} - {{ reservation.branch.name }}</h2>
      <span class="status-badge" [ngStyle]="{'background-color': reservation.status.color}">{{ reservation.status.description }}</span>
    </div>
    <div class="detail-body">
      <div class="detail-item">
        <label>Date:</label>
        <span>{{ reservation.date | date: 'medium' }}</span>
      </div>
      <div class="detail-item">
        <label>Client:</label>
        <span>{{ reservation.User.name }} {{ reservation.User.surname }}</span>
      </div>
      <div class="detail-item">
        <label>Service:</label>
        <span>{{ reservation.service.description }}</span>
      </div>
      <div class="detail-item">
        <label>Branch Address:</label>
        <span>{{ reservation.branch.address }}</span>
      </div>
      <div class="detail-item">
        <label>Branch Phone:</label>
        <span>{{ reservation.branch.phone }}</span>
      </div>
      <div class="detail-item">
        <label>Client Email:</label>
        <span>{{ reservation.User.email }}</span>
      </div>
    </div>
    <div class="detail-footer">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>
  

  <div class="spinner-container" *ngIf="charging">
    <div class="spinner"></div>
  </div>