<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="my-6">
    <input type="hidden" formControlName="id" />
    <div class="max-w-xl mx-auto bg-white p-8 rounded-md shadow-md">
      <div class="mb-4">
        <h2 class="text-2xl font-bold mb-2">{{ titleForm }} Product</h2>
      </div>
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700"
          >Name</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          maxlength="20"
          placeholder="Name"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        />
        <div *ngIf="errorHandling('name')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("name") }}
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label for="description" class="block text-sm font-medium text-gray-700"
            >Description</label
          >
          <input
            type="text"
            id="description"
            formControlName="description"
            placeholder="Description"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
          />
          <div
            *ngIf="errorHandling('description')"
            class="text-red-600 text-sm mt-1"
          >
            {{ errorHandling("description") }}
          </div>
        </div>
        <div>
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Price</label
          >
          <input
            type="text"
            id="price"
            formControlName="price"
            placeholder="Price"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
          />
          <div *ngIf="errorHandling('price')" class="text-red-600 text-sm mt-1">
            {{ errorHandling("price") }}
          </div>
        </div>
        <div>
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Duration</label
          >
          <input
            type="text"
            id="duration"
            formControlName="duration"
            placeholder="duration"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
          />
          <div
            *ngIf="errorHandling('duration')"
            class="text-red-600 text-sm mt-1"
          >
            {{ errorHandling("duration") }}
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label for="user" class="block text-sm font-medium text-gray-700"
          >Employee</label
        >
        <select
          id="user"
          formControlName="user"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
        >
          <option
            class="text-gray-700"
            *ngFor="let item of userList"
            [value]="item.id"
          >
            {{ item.name }} {{ item.surname }}
          </option>
        </select>
        <div *ngIf="errorHandling('user')" class="text-red-600 text-sm mt-1">
          {{ errorHandling("user") }}
        </div>
      </div>
  
      <div class="mb-4">
        <span class="block text-sm font-medium text-gray-700">Image</span>
        <div class="mt-2">
          <input
            *ngIf="isCreate"
            type="file"
            accept="image/*"
            (change)="selectFile($event)"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
          />
          <img
            *ngIf="!isCreate"
            [src]="'http://localhost:3000/assets/images/' + nameImage"
            alt="Product image"
            class="block w-full mt-2"
          />
        </div>
      </div>
  
      <div class="flex space-x-4">
        <button
          type="button"
          (click)="onReset()"
          class="bg-red-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-red-600"
        >
          Reset
        </button>
        <button
          type="button"
          (click)="onBack()"
          class="bg-gray-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-gray-600"
        >
          Back
        </button>
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600"
        >
          Save
        </button>
      </div>
    </div>
  </form>