<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-xl lg:py-16">
    <div class="flex mb-4">
      <h2 class="text-xl font-bold text-gray-900 dark:text-white">{{ titleForm }} Service</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="my-6">
      <input type="hidden" formControlName="id" />
      <div class="bg-white dark:bg-gray-800 p-8 rounded-md shadow-md">
        
        <!-- Name -->
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            maxlength="20"
            placeholder="Name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
          />
          <div *ngIf="errorHandling('name')" class="text-red-500 text-xs mt-2">
            {{ errorHandling("name") }}
          </div>
        </div>

        <!-- Description and Price -->
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div>
            <label for="description" class="block text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <input
              type="text"
              id="description"
              formControlName="description"
              placeholder="Description"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
            />
            <div *ngIf="errorHandling('description')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("description") }}
            </div>
          </div>

          <!-- Price -->
          <div>
            <label for="price" class="block text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <input
              type="text"
              id="price"
              formControlName="price"
              placeholder="Price"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
            />
            <div *ngIf="errorHandling('price')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("price") }}
            </div>
          </div>

          <!-- Duration -->
          <div>
            <label for="duration" class="block text-sm font-medium text-gray-900 dark:text-white">Duration (Minutes)</label>
            <input
              type="text"
              id="duration"
              formControlName="duration"
              placeholder="Duration"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
            />
            <div *ngIf="errorHandling('duration')" class="text-red-500 text-xs mt-2">
              {{ errorHandling("duration") }}
            </div>
          </div>
        </div>

        <!-- Employee -->
        <div class="mb-4">
          <label for="user" class="block text-sm font-medium text-gray-900 dark:text-white">Employee</label>
          <select
            id="user"
            formControlName="user"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
          >
            <option *ngFor="let item of userList" [value]="item.id">{{ item.name }} {{ item.surname }}</option>
          </select>
          <div *ngIf="errorHandling('user')" class="text-red-500 text-xs mt-2">
            {{ errorHandling("user") }}
          </div>
        </div>

        <!-- Image Upload -->
        <div class="mb-4">
          <span class="block text-sm font-medium text-gray-900 dark:text-white">Image</span>
          <div class="mt-2">
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              type="file"
              id="image"
              (change)="selectFile($event)"
            />
            <div class="mt-1 text-xs text-gray-500 dark:text-gray-300">
              An image is useful to illustrate the product or service
            </div>
            <div *ngIf="preview" class="my-8 flex justify-center content-center">
              <img [src]="preview" alt="Image preview" class="max-w-64" />
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex space-x-4">
          <button
            type="button"
            (click)="onReset()"
            class="bg-red-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-red-600"
          >
            Reset
          </button>
          <button
            type="button"
            (click)="onBack()"
            class="bg-gray-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-gray-600"
          >
            Back
          </button>
          <button
            type="submit"
            class="bg-teal-700 text-white py-2 px-4 rounded-lg shadow-md hover:bg-teal-800"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
